{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row" id="cloning">
        <div class="col-md-4" style="background-color:#e9e9e9;"><br>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col">
                        <input type="file" multiple name="myfile" class="form-control mr-sm-2">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>

                    <!--<div class="input-group mb-3" style="margin-left:15px; margin-right:15px;">
                      <div class="custom-file">
                        <input type="file" multiple name="myfile" class="custom-file-input" id="inputGroupFile02">
                        <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
                      </div>
                      <div class="input-group-append">
                        <button type="submit" class="input-group-text" id="inputGroupFileAddon02">Upload</button>
                      </div>
                    </div>-->

                </div>
            </form>
            <div id="Left" style="overflow-y: scroll; max-height:80vh;">
                {% for test in rack_test %}
                    <div class="list-group" style="margin-top:20px;">
                        <button type="button" class="list-group-item list-group-action active test">
                            <div class="form-group row">
                                <div class="col">
                                    <input class="test-order" type="text" name="order_test" style="border:0; outline:none; background-color:transparent; text-align:center; color:white;">
                                </div>
                                <div class="col">
                                    <input class="test-name" type="text" value="{{test.name}}" readonly name="test" style="border:0; outline:none; background-color:transparent; text-align:center; color:white;">
                                </div>
                            </div>
                        </button>
                        <div class="nested-sortable sub-test">
                        {% for sequence in sub_sequences %}
                            {% if test.name == sequence.rack_test.name %}
                                <button class="list-group-item list-group-item-action dog"><!--nested-1-->
                                    <div class="form-group row">
                                        <div class="col">
                                            <input class="form-control sub_case_order" type="text" name="sub_case_order" style="border:0; outline:none; background-color:transparent; text-align:center;">
                                        </div>
                                        <label class="col-sm-1 col-form-label"><b>Case Number:</b></label>
                                        <div class="col">
                                            <input class="form-control sub_case_number" type="text" value=" {{ sequence.case_number }}" name="case_number" style="border:0; outline:none; background-color:transparent; text-align:center;">
                                        </div>
                                        <label class="col-sm-1 col-form-label"><b>Case Name:</b></label>
                                        <div class="col">
                                            <input class="form-control sub_case_name" type="text" value="{{ sequence.case_name }}"  name="case_name" style="border:0; outline:none; background-color:transparent;">
                                        </div>
                                    </div>
                                </button>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-8" style="background-color:#909090;">
            <form class="form-group" method="post" id="Right" style="height:100%; overflow-y: scroll; max-height:88vh; margin-top:10px;">
                {% csrf_token %}
                {% if error %}
                    <div class="alert alert-warning" role="alert" style="margin-right:20px;">
                      {{ error }}
                    </div>
                {% endif %}
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Model</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01" name="model"  style="margin-right:20px;">
                    <option selected value="0">Choose...</option>
                      {% for model in models %}
                        <option value="{{model.pk}}">{{model.name}}</option>
                      {% endfor %}
                  </select>
                </div>

                <button class="btn btn-danger" type="submit" style="float:right; position:fixed; z-index:100; right:3%; top:18%;">Save Sequence</button>
            </form>
        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.12.0/js/md5.js"></script>
<script type="text/javascript">
    $("#Right").on('drop', function(event){
        var nestedSortables = [].slice.call($(this).find('.nested-sortable'));

        // Loop through each nested sortable element
        for (var i = 0; i < nestedSortables.length; i++) {
            console.log($(nestedSortables[i]));
            new Sortable(nestedSortables[i], {
                group: 'nested',
                animation: 150,
                fallbackOnBody: true,
                swapThreshold: 0.65
            });
        }

        var all_test = [].slice.call($(this).find('.test'));
        var all_sub_test = [].slice.call($(this).find('.sub-test'));
        //let something = [...$(this).find('button')];

        /*something.forEach(function(row, index){
            class_btn = $(row).prop('class');

            if ($(row).prop('class') != 'list-group-item list-group-action active test' && $(row).prop('class') != 'btn btn-danger'){
                console.log($(row).prop('class'));
                $(row).prop({"class": $(row).prop('class')+'-'+index});
            }
        });*/

        // Loop through each test element
        console.log(' test length  = ' + all_test.length);
        for (var i = 0; i < all_test.length; i++){
            let input = [...$(all_test[i]).find('input')];
            let test_name;
            let test_order = 0;
            input.forEach(function(row, index){
                if($(row).prop('class') != 'test-order'){
                    let hash = event.timestamp;
                    let input_name = $(row).prop('name') + '_' + index + '_' + md5(hash);
                    test_name = $(row).val();
                    $(row).prop({"name": input_name});
                }else{
                    let hash = event.timestamp;
                    let input_name = $(row).prop('name') + '_' + index + '_' + md5(hash);
                    $(row).val(i)
                    test_order = $(row).val();
                    $(row).prop({"name": input_name});
                }
            });
            console.log('order == ' + test_order + ' test name == ' + test_name);
        }

        //Loop through each sub test element
        for (var i = 0; i < all_sub_test.length; i++){
            let input = [...$(all_sub_test[i]).find('input')];
            let sub_test_name = 0;
            let sub_test_number = 0;
            let_sub_test_order = 0;
            let found = 0;
            let cnt = 0;
            input.forEach(function(row, index){
                if($(row).prop('class') == 'form-control sub_case_number'){
                    let hash = event.timestamp;
                    let input_name = $(row).prop('name') + '_' + index + '_' + md5(hash);
                    //console.log($(row).prop('name'));
                    sub_test_number = $(row).val();
                    $(row).prop({"name": input_name});
                    console.log($(row).prop('name'));
                    found ++;
                }
                if($(row).prop('class') == 'form-control sub_case_name'){
                    let hash = event.timestamp;
                    let input_name = $(row).prop('name') + '_' + index + '_' + md5(hash);
                    //console.log($(row).prop('name'));
                    sub_test_name = $(row).val();
                    $(row).prop({"name": input_name});
                    console.log($(row).prop('name'));
                    found ++;
                }
                if(found == 2){
                    //console.log('case number' + sub_test_number + ' case name ' + sub_test_name + ' order ' + cnt);
                    found = 0;
                    cnt ++;
                }
                if($(row).prop('class') == 'form-control sub_case_order'){
                    let hash = event.timestamp;
                    let input_name = $(row).prop('name') + '_' + index + '_' + md5(hash);
                    $(row).val(cnt);
                    $(row).prop({"name": input_name});
                }
            });
        }

    });
</script>
{% endblock %}
