{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block content %}
<br>
<div class="container-fluid">
    <form method="post">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Rack Test</th>
                    <th>Step Test</th>
                    <th>Function Step</th>
                    <th>Step</th>
                    <th>Low Limit</th>
                    <th>Expected Value</th>
                    <th>High Limit</th>
                    <th>Units</th>
                    <th>Type Format</th>
                    <th>Flow Control</th>
                </tr>
            </thead>
            <tbody>
                {% for test in tests %}
                <tr>
                    <td>{{test.rack_test.test}}</td>
                    <td>{{test.rack_test.step}}</td>
                    <td>{{test.function_step.case_name}}</td>
                    <td>{{test.step}}</td>
                    <td contenteditable="true">{{test.low_limit}}</td>
                    <td contenteditable="true">{{test.expected_value}}</td>
                    <td contenteditable="true">{{test.high_limit}}</td>
                    <td contenteditable="true">{{test.units}}</td>
                    <td contenteditable="true">{{test.type_format}}</td>
                    <td contenteditable="true">{{test.flow_control}}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Rack Test</th>
                    <th>Step Test</th>
                    <th>Function Step</th>
                    <th>Step</th>
                    <th>Low Limit</th>
                    <th>Expected Value</th>
                    <th>High Limit</th>
                    <th>Units</th>
                    <th>Type Format</th>
                    <th>Flow Control</th>
                </tr>
            </tfoot>
        </table>
    </form>
</div>
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#example').DataTable({'order':[[1, 'asc']]});
        } );
    </script>
{% endblock %}