{% extends "base.html" %}

{% block styles %}
<style>
    .btn-circle {
		position: fixed !important;
		right: 20px;
		bottom: 20px;
	  background-color: white;
	  height: 60px;
	  width: 60px;
	  border-radius: 50% !important;
	}
	.btn-circle button{
	  display: block;
	  width: 20px;
	  height: 20px;
	  position: relative;
	  z-index:100 !important;
	  top: 50%;
	  -webkit-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  transform: translateY(-50%);
	}
	.btn-circle img{
	  width: 100%;
	  height: 100%;
	}
</style>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div id="cloning" class="row">
        <div class="col-md-3" style="background-color:#e9e9e9;">
            <br>
             <div class="sticky-top">
                <h4><label><b>Device Templates</b></label></h4>
                <input class="form-control mr-sm-2" type="search" placeholder="Search Device" id="filter">
             </div>
            <br>
            <ul class="nav flex-column" style="overflow-y: scroll; max-height:70vh;">
                <div id="Left" class="" style="cursor: pointer;">
                      {% for device in templates %}
                          <li class="nav-item" style="list-style:none;">
                            <div class="list-group-item card mb-3">
                              <div class="row no-gutters">
                                <div class="col-md-4">
                                    {% if device.image %}
                                        <img src="{{ device.image.url }}" class="card-img" style="max-width:200px; max-height:180px" alt="..."/>
                                    {% else %}
                                        <label>No image found.</label>
                                    {% endif %}
                                </div>
                                <div class="col-md-8">
                                  <div class="card-body">
                                      <h5 class="card-title"><input type="text" name="title_" value="{{device.pk}}" readonly style="border:0; outline:none; display:none;"><p class="elhetor" >{{ device.name }} {{ device.type }}</p></h5>
                                    <p class="card-text">
                                        <p>
                                          <a class="btn btn-primary config_btn" data-toggle="collapse_" href="#{{ device.name }}_{{ device.pk }}" role="button" aria-expanded="true" aria-controls="collapseExample" style="display:none;">
                                            Configurations
                                          </a>
                                        </p>
                                        <div class="collapse config" id="{{ device.name }}_{{ device.pk }}" style="display:none;">
                                          <div class="card card-body">

                                             <div class="form-group row">
                                                 <div class="col">
                                                      <label for="">Description:</label>
                                                      <input type="text" class="form-control" name="description_" readonly>
                                                 </div>
                                                 <div class="col">
                                                     <label for="">{{ device.type.configuration }}:</label>
                                                     <input type="text" class="form-control" name="configuration_" readonly>
                                                 </div>
                                             </div>
                                             <div class="form-group row">
                                                 <div class="col">
                                                    <label for="">{{ device.type.configuration1 }}:</label>
                                                    <input type="text" class="form-control" name="configuration1_" readonly>
                                                 </div>
                                                 <div class="col">
                                                     <label for="">{{ device.type.configuration2 }}:</label>
                                                     <input type="text" class="form-control" name="configuration2_" readonly>
                                                 </div>
                                             </div>
                                            <div class="form-group row">
                                                <div class="col">
                                                    <label for="">{{ device.type.configuration3 }}:</label>
                                                    <input type="text" class="form-control" name="configuration3_" readonly>
                                                </div>
                                                <div class="col">
                                                    <label for="">{{ device.type.configuration4 }}:</label>
                                                    <input type="text" class="form-control" name="configuration4_" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                  <label for="">Location:</label>
                                                  <select class="form-control location" name="location">
                                                      <option value="no-selected">Please chose a device location</option>
                                                      {% for location in locations %}
                                                        {% if location.name %}
                                                            <option value="{{ location.location_id }}">{{ location.name }}</option>
                                                        {% endif %}
                                                      {% endfor %}
                                                  </select>
                                            </div>

                                            <div class="form-group row">
                                                  <label for="">Fixture:</label>
                                                  <select class="form-control fixture" name="fixture">
                                                      <option value="no-selected">Please chose a fixture</option>
                                                      {% for fixture in fixtures %}
                                                        {% if fixture.name %}
                                                            <option class="fixture_val" value="{{ fixture.pk }}">{{ fixture.name }} {{fixture.nest_number}}</option>
                                                        {% endif %}
                                                      {% endfor %}
                                                  </select>
                                            </div>


                                            <div class="form-group row nest" style="display:none">
                                                  <label for="">Nest:</label>
                                                  <select class="form-control nest_number" name="nest">
                                                      <option value="no-selected">Please chose a device nest location</option>
                                                      <option value="all">All</option>
                                                  </select>
                                            </div>

                                          </div>
                                        </div>

                                    </p>
                                    <p class="card-text"><small class="text-muted">Last updated {{ device.last_update }}</small></p>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </li>
                      {% endfor %}
                </div>
            </ul>
        </div>

        <div class="col-md-6" style="background-color:#909090; overflow-y: scroll; max-height:89vh;">
            <br>
            <div class="row-fluid">
                {% ifequal response 'ok'%}
                    <div class="alert alert-success" role="alert">
                      Devices Added Successfully!.
                    </div>
                {% endifequal %}
                <center><h4><label><b>Configuration Of Devices</b></label></h4></center>
            </div>


            <form class="form-group list-group col" method="post" id="Right" style="height: 100%;">
                {% csrf_token %}
                <div class="sticky-top">
                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-4">
                        {% load static %}
                        <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Save" type="submit" style="width: 20%; float:right; margin-top:-55px; margin-bottom: 5px; ">
                            <img src="{% static 'img/save.png' %}" style="width: 100%;">
                        </button>
                    </div>
                </div>

                </dv>
            </form>
        </div>
    </div>

    <div class="col-md-3" style="background-color:#e9e9e9; overflow-y: scroll; max-height:89vh;">
        <br>
        <div class="sticky-top">
            <center><h4><label><b>Devices Already Added</b></label></h4></center>
        </dv>
        <ul class="nav flex-column">
          {% for device in devices %}
              <li class="nav-item">
                {% ifequal connected 'Connected' %}
                {% if device.pk == primary %}
                    <div class="list-group-item card mb-3" style="border: solid 1px #55FF33;">
                {% endif %}
                {% endifequal %}
                {% ifequal connected 'Not Connected' %}
                {% if device.pk == primary %}
                   <div class="list-group-item card mb-3" style="border: solid 1px #FF3333;">
                {% endif %}
                {% endifequal %}
                {% if device.pk != primary %}
                   <div class="list-group-item card mb-3">
                {% endif %}
                  <div class="row no-gutters">
                    <div class="col-md-4">
                        {% if device.template.image %}
                            <img src="{{ device.template.image.url }}" class="card-img" style="max-width:200px;" alt="..."/>
                        {% else %}
                            <label>No image found.</label>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                      <div class="card-body">
                        <h5 class="card-title"><input type="text" name="title_" value="{{device.pk}}" readonly style="border:0; outline:none; display:none;">{{ device.template.name }} {{ device.template.type }}</input></h5>
                        <h6>({{ device.configuration }})</h6>
                        <p class="card-text">
                            Fixture: {{ device.fixture }}
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated {{ device.template.last_update }}</small></p>
                      </div>
                    </div>
                    <div class="col-md-2">
                        <form method="get">
                            {% csrf_token %}
                            <input type="hidden" value="test" name="test">
                            <input type="hidden" value="{{ device.pk }}" name="device_pk">
                            <input type="hidden" value="{{ device.template.type }}" name="device_type">
                            <input type="hidden" value="{{ device.configuration }}" name="device_conf">
                            <input type="hidden" value="{{ device.configuration1 }}" name="device_conf1">
                            <input type="hidden" value="{{ device.configuration2 }}" name="device_conf2">
                            <input type="hidden" value="{{ device.configuration3 }}" name="device_conf3">
                            <input type="hidden" value="{{ device.configuration4 }}" name="device_conf4">
                            <input type="hidden" value="{{ device.configuration5 }}" name="device_conf5">

                            {% ifequal connected 'Connected' %}
                            {% if device.pk == primary %}
                            <button type="sumbit" style="background: none; border: 0; color: inherit; font: inherit; line-height: normal; overflow: visible; padding: 0;">
                                <img src="{% static 'img/plug_success.png' %}" class="card-img" style="max-width:200px; cursor:pointer;" alt="..." data-toggle="tooltip" data-placement="right" title="Test Device Connection"/>
                            </button>
                            {% endif %}
                            {% endifequal %}
                            {% ifequal connected 'Not Connected' %}
                            {% if device.pk == primary %}
                            <button type="sumbit" style="background: none; border: 0; color: inherit; font: inherit; line-height: normal; overflow: visible; padding: 0;">
                                <img src="{% static 'img/plug_error.png' %}" class="card-img" style="max-width:200px; cursor:pointer;" alt="..." data-toggle="tooltip" data-placement="right" title="Test Device Connection"/>
                            </button>
                            {% endif %}
                            {% endifequal %}
                            {% if device.pk != primary %}
                            <button type="sumbit" style="background: none; border: 0; color: inherit; font: inherit; line-height: normal; overflow: visible; padding: 0;">
                                <img src="{% static 'img/plug_unplugged.png' %}" class="card-img" style="max-width:200px; cursor:pointer;" alt="..." data-toggle="tooltip" data-placement="right" title="Test Device Connection"/>
                            </button>
                            {% endif %}
                        </form>
                    </div>
                  </div>
                </div>

              </li>
          {% endfor %}
        </ul>
    </div>

</div>

{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.12.0/js/md5.js"></script>
    <script type="text/javascript">
        $( document ).ready(function() {
            let toggle = 0;

            $('#filter').keyup(function () {
                var filter_array = new Array();
                var filter = this.value.toLowerCase();

                filter_array = filter.split(' ');

                var arrayLength = filter_array.length;

                var elemento = $(this);

                $('#Left .nav-item').each(function() {
                    var _this = $(this);
                    var title = _this.find('.elhetor').text().toLowerCase();
                    var hidden = 0;

                    for (var i = 0; i < arrayLength; i++) {
                         if (title.indexOf(filter_array[i]) < 0) {
                            _this.hide();
                            hidden = 1;
                        }
                    }
                    if (hidden == 0)  {
                       _this.show();
                    }
                });
            });

            $("#Right").on('drop', function(event){
                let dog = [...$(this).find('input')];
                let collapse = [...$(this).find('.config_btn')];
                let collapse_area = [...$(this).find('.config')];

                $(collapse).attr("data-toggle", "collapse");
                $(collapse_area).show();


                dog.forEach(function(row, index){
                    let hash = event.timestamp;
                    let name = $(row).prop("name") + md5(hash);
                    if($(row).prop("type") !== "hidden"){
                        $(row).prop({"readonly": false, "name": name});
                    }
                });
            });

            let location_selected;
            let number_nest;

            $(document).on('change','.location',function(){
               location_selected = $(this).find("option:selected").attr('value');
            });

            $(document).on('change','.fixture',function(){
               let fixture_selected = $(this).find("option:selected").text();

               let nest_div = [...$(this).find('.nest_')];
               console.log(nest_div);

               var fixture_name = fixture_selected.split(' ')[0];
               number_nest = fixture_selected.split(' ')[1];
               if ( location_selected === '-2' && fixture_name !== 'No Fixture' && fixture_name !== 'Please choose a fixture'){
                console.log('entro');

                    for(var x=0; x<number_nest; x++){
                        $(".nest_number").append("<option value='" + x + "'>nest " + x + "</option>");
                    }
                    $('.nest').show();
               }else{
                    $('.nest').hide();
               }
            });

        });
    </script>
{% endblock %}
