{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" href="{%static 'img/logo.ico' %}">
        <title>Vectralis Wizard</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{%static 'css/theme.css'%}">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        {% block styles %}{% endblock %}

        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="keywords" content="sortable, reorder, list, javascript, html5, drag and drop, dnd, animation, groups, dnd, sortableJS"/>
        <meta name="description" content="Sortable — is a JavaScript library for reorderable drag-and-drop lists on modern browsers and touch devices. No jQuery required. Supports Meteor, AngularJS, React, Polymer, Vue, Knockout and any CSS library, e.g. Bootstrap."/>
        <meta name="viewport" content="width=device-width, initial-scale=0.5"/>

        <meta http-equiv='cache-control' content='no-cache'>
        <meta http-equiv='expires' content='0'>
        <meta http-equiv='pragma' content='no-cache'>

        <style>
            .nav-link:hover{
                color: blue !important;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#"><img src="{%static 'img/Vectralis_logo.png'%}" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'devices' %}">| Devices |</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'sequences' %}">Add Sequences |</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'list_sequences' %}">Sequences List |</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1">Configurations |</a>
              </li>
            </ul>
          </div>
        </nav>
    {% block content %}
    {% endblock %}
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{%static 'js/Sortable.js' %}"></script>

    <script type="text/javascript" src="{%static 'js/prettify.js' %}"></script>
    <script type="text/javascript" src="{%static 'js/run_prettify.js' %}"></script>

    <script type="text/javascript" src="{%static 'js/app.js' %}"></script>



    <script type="text/javascript">
        $( document ).ready(function() {
            /*window.setInterval(function(){

                var i = $('#Right input');
                console.log(i);
                $("#Right #staticEmail").prop("readonly", false);
                $("#Right #inputPassword").prop("readonly", false);
                 /// call your function here
            }, 5000);*/
        });
    </script>

    {% block scripts %}{% endblock %}
</html>